<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.delta.nittfest" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_nc"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.delta.nittfest.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.delta.nittfest.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="org.delta.nittfest.Coupon"
            android:label="@string/title_activity_coupon"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="org.delta.nittfest.WelcomePage"
            android:label="@string/title_activity_welcome_page"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="org.delta.nittfest.ConfirmPage"
            android:label="@string/title_activity_confirm_page"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
